* {
    margin: 0;
    padding: 0;
} 
/* splash screen styleing */
.splash_screen{
    background-color: #b5b5b5;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}
.splash_screen__logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.splash_screen__button:hover{
    background-color: #d3d3d3;
    color: #fff;
}
a {
    text-decoration: none;
}
/* splash screen styleing */

/* login screen */


.login_screen{
}
.login_screen_img{
    float: left;
    width: 50%;
    height: 100vh;
}
.login_form{
    float: right;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_form_content{
    width: 50%;
    height: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_form_content h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}
.login_email{
    width: 80%;
    height: 3rem;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.login_password{
    width: 80%;
    height: 3rem;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.login_submit{
    width: 80%;
    height: 3rem;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 1rem;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}
.login_register{
    width: 80%;
    height: 3rem;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
}
.text-forgot-password-text{
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}
.text-sign-up-text{
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}
/* login screen */